<ng-container *ngIf="favoriteJobs$ | async as jobs">
    <ng-container *ngIf="jobs.length; else empty">
        <div *ngFor="let job of jobs">
            <app-job-list-item [job]="job" [showStarIcon]="false"></app-job-list-item>
        </div>
    </ng-container>
</ng-container>
<ng-template #empty>
    <p class="text-center">No favorite selected </p>
</ng-template>