<button class="btn-style mb-1" (click)="onGoBack()">
    <span class="icon-home"></span> Back
</button>
<div *ngIf="errorMessage" class="text-danger"><small>{{errorMessage}}</small></div>
<div *ngIf="job$ | async as job">
    <div>
        <div class="d-flex">
            <img [src]="job.companyLogo" [alt]="job.companyName" width="80px">
            <div class="ml-2">
                <div><strong>{{job.title}}</strong></div>
                <div>
                    <small class="tag-style text-xs" *ngFor="let type of job.types">{{type}}</small>
                    <small class="tag-style text-xs" *ngFor="let industry of job.industries" [innerHtml]="industry"></small>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="mb-1" *ngIf="job.publishDate">
                <strong>Publish date :</strong>
                <span>{{job.publishDate | date : 'M/d/yy'}}</span>
            </div>
            <div class="mb-1" *ngIf="job.location">
                <strong>Location :</strong>
                <span>{{job.location}}</span>
            </div>
            <div class="mb-1" *ngIf="job.reference">
                <strong>Reference :</strong>
                <span>{{job.reference}}</span>
            </div>
            <div class="mb-1" *ngIf="job.description">
                <strong>Description :</strong>
                <p class="m-0" [innerHTML]="job.description"></p>
            </div>
        </div>
    </div>
</div>
