<div class="container">
    <h1 class="text-center">Find you job</h1>
    <ul class="nav nav-tabs nav-fill m-0 p-0" id="myTab" role="tablist" aria-orientation="vertical">
      <li class="nav-item m-0 p-0" role="presentation">
        <button class="nav-link nav-button m-0 p-0 active" id="job-tab" data-bs-toggle="tab" data-bs-target="#job-tab-pane" type="button" role="tab" aria-controls="import-tab-pane" aria-selected="true">
          <strong>Jobs</strong>
        </button>
      </li>
      <li class="nav-item m-0 p-0" role="presentation">
        <button class="nav-link nav-button m-0 p-0" id="favorite-tab" data-bs-toggle="tab" data-bs-target="#favorite-tab-pane" type="button" role="tab" aria-controls="valid-tab-pane" aria-selected="false">
          <strong>Favorites</strong>
        </button>
      </li>
    </ul>
    <div class="tab-content mt-3" id="myTabContent">
      <div class="tab-pane fade show active" id="job-tab-pane" role="tabpanel" aria-labelledby="job-tab" tabindex="0">
        <router-outlet></router-outlet>
      </div>
      <div class="tab-pane fade" id="favorite-tab-pane" role="tabpanel" aria-labelledby="favorite-tab" tabindex="0">
        <app-favourite-job-list></app-favourite-job-list>
      </div>
    </div>
</div>


