<div *ngIf="errorMessage" class="text-danger"><small>{{errorMessage}}</small></div>
<ng-container *ngIf="jobs$ | async as jobs">
    <div *ngFor="let job of jobs">
        <app-job-list-item [job]="job" [showStarIcon]="true" (jobFavoriteToggled)="OnJobFavoriteToggled($event)"></app-job-list-item>
    </div>
</ng-container>

